<li id="item_<%= id %>" role="option" tabindex="0" data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c">
  <div style="padding-right: 40px" class="ui-btn-inner">
    <div id="itemAction_<%= id %>" class="ui-btn-text go-list-item">
      <a class="ui-link-inherit"><%= title %></a>        
    </div>      
    <span id="itemRemove_<%= id %>" class="ui-icon ui-icon-delete remove-list-item"></span>
  </div>
</li>